.contactus-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding:20px;
    padding-top: 35px;
    padding-bottom: 35px;;

}

@media screen and (min-width:768px){
    .contactus-section{
        flex-direction: row;
        padding-top:0;
        padding-bottom: 80px;
    }
}

.contact-us-text{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-us-heading{
    font-size: 24px;
    font-weight: 700;
}

.contact-us-description{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sign-in-button{
    background-color: red;
    padding:10px;
    color:#ffffff;
    border:none;
    border-radius: 6px;;
}